.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999999;
}

@media only screen and (min-width: 601px) {
  .gameMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0px 10px 10px 10px;
    border-radius: 5px;
  }
  
  .gameMessage img {
    height: 100px;
    padding: 10px;
  }
  
  .smallScreen{
    display:none;
  }
}

@media only screen and (max-width: 600px) {
  .gameMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0px 10px 10px 10px;
    border-radius: 5px;
  }
  
  .gameMessage img {
    height: 70px;
    padding: 5px;
  }
  
  .smallScreen{
    display:static;
  }
}
  

#instructions {
  display: none;
}

#reading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}

#readingBox{
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 50%;
  transform: translate(-50%);
  background-color: white;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
}

.speakingHead {
  font-size: 3em;
  text-align: center;
  margin:10px;
}

button {
  font-size: 1.5em;
}

.nobr {
  white-space: nowrap;
}
