body{
    margin:0px;
    background-color: black;
}

h1{
    text-align: center;
    color: white;
}
.header{
    height:50px;
}

.popup{
    
}

.instructions{
    color:black;
    background-color: #ffffff55;
}

main{
    text-align: center;
}